{% load staticfiles %}
{% load footer %}

<footer typeof="WPFooter">
  <div class="grid-block">

    <div class="flex">
      <div class="copyright-box">
        <p class="copyright">&copy; <span property="copyrightYear">{% now "Y" %}</span> Direct Line Development Inc</p>
      </div>

      <div class="dl-logo-box">
        {% dl_link %}
      </div>
    </div>

  </div>
</footer>