{% load placeholder %}
{% load menu %}

<div class="menu mobile-menu">
  <div class="scrollable">
    <div class="scrollable-content">
      {% placeholder 'menu' menu_name='main' referer=request.path_info %}
    </div>
  </div>
</div>

<header>
  <div class="grid-block">

    <div class="flex">
      <div class="logo-box">
        {% if is_main_page %}
          <div class="logo"></div>
        {% else %}
          <a href="/" class="logo"></a>
        {% endif %}
      </div>

      <div class="menu-box">
        <div id="mobile-menu-button">
          <div class="burger"></div>
        </div>

        <nav class="menu main-menu">
          {% menu 'main' %}
        </nav>
      </div>
    </div>

  </div>
</header>